<li class="chat">
	<img src="/placeholder.png" alt="{{friendName}}">
	<div class="chat_preview_text">
		<div class="chat_info">
			<span class="friend_name">{{friendName}}</span>
			<span class="time">13:00</span>
		</div>
		<span class="preview">first line of most recent message</span>
	</div>
</li>