<div id="chat_display">
	hello
</div>

<form id="new_message" action="">
	<input type="text" id="message_box" placeholder="Type message here...">
	<input type="submit" id="new_message_submit" value="Send">
</form>