<div id="chat_display">
	<ul id="messages_list">
		<li class="message my_message">
			<div class="message_content">
				hello here is some text from me. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget interdum tortor, ac fringilla erat. Maecenas pellentesque pulvinar tincidunt.
			</div>
		</li>

		<li class="message your_message">
			<img src="/placeholder.png" alt="placeholder" class="avatar">
			<div class="message_content">
				hello here is some text from the other person. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget interdum tortor, ac fringilla erat. Maecenas pellentesque pulvinar tincidunt.
			</div>
			<button class="edit_button">
				<img src="/edit_icon.png" width="17" height="17" alt="edit message">
			</button>
		</li>
		{{#each messages as |message|}}
			<li>{{message.body}}</li>
		{{/each}}
	</ul>
</div>

<form id="new_message" action="">
	<input type="text" id="message_box" placeholder="Type message here...">
	<input type="submit" id="new_message_submit" value="Send">
</form>