<div class="nav_bar">
	<h1 class="logo">LangLand</h1>
	<ul class="nav_links">
		<li>
			<a href="/chats">Chat/Friends
			<img src="/chats_icon.png" alt="Chats/Friends" width=40 height=40>
			</a>
		</li>
		<li>
			<a href="/search">Search
			<img src="/search_icon.png" alt="Search" width=30 height=30>
			</a>
		</li>
		<li>
			<a href="#">Settings
			<img src="/settings_icon.png" alt="Settings" width=30 height=30>
			</a>
		</li>
	</ul>
</div>