<div class="nav_bar">
	<h1 class="logo">LangLand</h1>
	<ul class="nav_links">
		<li>
			<a href="/chats" class="nav_link" id="chfr_link">Chat/Friends
			<img src="/chats_icon.png" alt="Chats/Friends" width=40 height=40>
			</a>
		</li>
		<li>
			<a href="/search" class="nav_link" id="search_link">Search Users
			<img src="/search_icon.png" alt="Search" width=30 height=30>
			</a>
		</li>
		<li>
			<a href="#" onclick="logOut(event)" class="nav_link">Log Out
			<img src="/logout_icon.png" alt="Settings" width=30 height=30>
			</a>
		</li>
	</ul>
</div>