<li class="search_result">
	<img class="avatar" src="placeholder.png" alt="{{user.username}}" width="124px" height="124px">
	<div class="result_text">
		<h1>{{user.username}}</h1>
		<ul class="lang_results">
			{{#each user.languages as |lang|}}
				{{result_language lang}}
			{{/each}}
		</ul>
	</div>
	<img class="start_chat_icon" src="start_chat_icon.png" alt="start chat">
</li>