<div class="basic_info">
	<img src="placeholder.png">
	<div class="container">
		<h1 class="username_profile">{{user.userName}}</h1>
		<ul class="languages">
			{{#each user.languages as |lang|}}
				{{language_bar lang}}
			{{/each}}
		</ul>
	</div>
</div>
<div class="additional info">
	<ul class="traits">
		<li>Age: {{user.age}}</li>
		<li>Gender: {{user.gender}}</li>
		<li>Interests:</li>
		<ul class="interests">
			<li>Example</li>
			<li>Example</li>
		</ul>
	</ul>
</div>