<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
   		<script
	      src="https://code.jquery.com/jquery-3.1.1.min.js"
	      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	      crossorigin="anonymous">
	    </script>
	    <script src="/frontend.js"></script>
	    <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>Chat/Friends</title>
	</head>

	<body>
		{{> nav_bar}}

		<div class="main_content">
			<div class="chats_friends">
				<div class="tabs">
					<button class="tab selected" id="chats_tab" onclick="toggleChatsTab()">
						<img src="/chats_icon.png" alt="Chats" width=55 height=55>
					</button>
					<button class="tab" id="friends_tab" onclick="toggleFriendsTab()">
						<img src="/friends_icon.png" alt="Friends" width=50 height=50>
					</button>
				</div>
				<div class="tab_content selected" id="chats_tab_content">
					<ul id="chats_list">
						{{#each chats as |name|}}
							{{> chat friendName=name.username me=myUsername}}
						{{/each}}
					</ul>
				</div>
			</div>

			<div class="leftover_space">
				<div id="chat_content">
					{{> chat_room messages=messages}}
				</div>
			</div>
		</div>
	</body>
</html>