<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <script
	      src="https://code.jquery.com/jquery-3.1.1.min.js"
	      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	      crossorigin="anonymous">
	    </script>
	    <script src="/frontend.js"></script>
	   	<script src="/socket.io/socket.io.js"></script>
	    <script src="/chat.js"></script>
	    <link rel="stylesheet" type="text/css" href="/style.css" />
        <title>Chat/Friends</title>
	</head>

	<body>
		{{> nav_bar}}

		<div class="main_content">
			<div class="chats_friends">
				<div class="tabs">
					<a href="/chats">
						<div class="tab" id="chats_tab">
							<img src="/chats_icon.png" alt="Chats" width=55 height=55>
						</div>
					</a>
					<a href="/friends/{{myUsername}}">
						<div class="tab selected" id="friends_tab">
							<img src="/friends_icon.png" alt="Friends" width=50 height=50>
						</div>
					</a>
				</div>
				<div class="tab_content selected" id="friends_tab_content">
					<input type="text" class="searchbar" id="friends_list_search" placeholder="Search friends"/>
					<ul id="friends_list">
						<a href="/friends/{{myUsername}}">
							<li class="friend you" id="{{myUsername}}">
								<img src="/placeholder.png" alt="{{myUsername}}">
								<span class="friend_name">You</span>
							</li>
						</a>
						{{#each friends as |name|}}
							{{> friend friendName=name.username}}
						{{/each}}
					</ul>
				</div>
			</div>

			<div class="leftover_space">
				<div id="user_profile">
					{{> user_profile user=profile me=myUsername}}
				</div>
			</div>
		</div>
	</body>
</html>