<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
        <script
	      src="https://code.jquery.com/jquery-3.1.1.min.js"
	      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	      crossorigin="anonymous">
	    </script>
	    <script src="/jquery.validate.js"></script>
	    <script src="/landing.js"></script>
        <title>LangLand</title>
	</head>

	<body>
		<div id="landing_container">
			<h1 id="logo">LangLand</h1>
			<div id="landing_content">
				<div id="landing_buttons">
					<button class="landing_button_large" id="signup_option" onclick="displaySignupOne()">Sign Up</button>
					<button class="landing_button_large" id="login_option" onclick="displayLogin()">Login</button>
				</div>

				<form class="form_container" id="login_container" action="">
					<ul class="text_fields" id="login_fields">
						<li class="entry">
							<span class="description">Username: </span>
							<input type="text" id="login_username">
						</li>
						<li class="entry">
							<span class="description">Password: </span>
							<input type="password" id="login_password">
						</li>
					</ul>
					<input type="submit" class="landing_button" value="Login" id="login_submit" />
				</form>

				<form id="signup_form" action="">
					<div class="form_container" id="signup_pt_one">
						<ul class="text_fields" id="signup_fields_one">
							<li class="entry">
								<span class="description">Username: </span>
								<span class="error_container">
									<input type="text" id="signup_username" name="signup_username">
								</span>
							</li>
							<li class="entry">
								<span class="description">Password: </span>
								<span class="error_container">
									<input type="password" id="signup_password" name="signup_password">
								</span>
							</li>
							<li class="entry">
								<span class="description">Confirm Password: </span>
								<span class="error_container">
									<input type="password" id="signup_conf_password" name="signup_conf_password">
								</span>
							</li>
							<li class="entry">
								<span class="description">Email: </span>
								<input type="text" id="signup_email" name="signup_email">
							</li>
						</ul>
						<button class="landing_button" id="signup_next" type="button">Next</button>
					</div>

					<div class="form_container" id="signup_pt_two">
						<ul class="text_fields" id="signup_fields_two">
							<li class="entry">
								<span class="description">Birthdate: </span>
								<input type="date" id="signup_birthdate" name="signup_birthdate">
							</li>
							<li class="entry">
								<span class="description">Gender: </span>
								<input type="text" id="signup_gender" name="signup_gender">
							</li>
							<li class="entry lang">
								<span class="description">Native Language: </span>
								<span class="error_container">
									<select id="signup_native" name="signup_native">
										<option value="" selected disabled hidden>Select language</option>
										<option value="Chinese">Chinese</option>
										<option value="English">English</option>
									</select>
								</span>
							</li>
							<li class="entry">
								<span class="description language_name">Proficiency: </span>
								<span class="error_container">
									<div class="radio_container" id="signup_native_proficiency" >
										<input type="radio" name="native_lang" value="5" id="native_5" class="radio" checked>
										<label for="native_5" class="radio_label native"></label>

										<input type="radio" name="native_lang" value="4" id="native_4" class="radio">
										<label for="native_4" class="radio_label native"></label>

										<input type="radio" name="native_lang" value="3" id="native_3" class="radio">
										<label for="native_3" class="radio_label native"></label>

										<input type="radio" name="native_lang" value="2" id="native_2" class="radio">
										<label for="native_2" class="radio_label native"></label>

										<input type="radio" name="native_lang" value="1" id="native_1" class="radio">
										<label for="native_1" class="radio_label native"></label>
									</div>
								</span>
							</li>
							<li class="entry lang">
								<span class="description">Learning Language: </span>
								<span class="error_container">
									<select id="signup_learning" name="signup_learning">
										<option value="" selected disabled hidden>Select language</option>
										<option value="Chinese">Chinese</option>
										<option value="English">English</option>
									</select>
								</span>
							</li>
							<li class="entry">
								<span class="description language_name">Proficiency: </span>
								<span class="error_container">
									<div class="radio_container" id="signup_learning_proficiency">
										<input type="radio" name="learning_lang" value="5" id="learning_5" class="radio">
										<label for="learning_5" class="radio_label learning"></label>

										<input type="radio" name="learning_lang" value="4" id="learning_4" class="radio">
										<label for="learning_4" class="radio_label learning"></label>

										<input type="radio" name="learning_lang" value="3" id="learning_3" class="radio">
										<label for="learning_3" class="radio_label learning"></label>

										<input type="radio" name="learning_lang" value="2" id="learning_2" class="radio">
										<label for="learning_2" class="radio_label learning"></label>

										<input type="radio" name="learning_lang" value="1" id="learning_1" class="radio"checked>
										<label for="learning_1" class="radio_label learning"></label>
									</div>
								</span>
							</li>
						</ul>
						<div id="buttons_container">
							<button class="landing_button" id="signup_prev" type="button" onclick="displaySignupOne()">Previous</button>
							<input type="submit" class="landing_button" value="Sign Up" id="signup_submit" />
						</div>
					</div>
				</form>

				<div id="steps">
					<span class="step" id="step_one"></span>
					<span class="step" id="step_two"></span>
				</div>
			</div>
			<span id="signup_redirect">New to LangLand? <span class="pseudolink" onclick="displaySignupOne()">Sign up</span></span>
			<span id="login_redirect">Already have an account? <span class="pseudolink" onclick="displayLogin()">Login</span></span>
		</div>
	</body>
</html>