@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

body,h1,h2,h3,ul,p {
	margin: 0;
	padding: 0;
}

h1,h2,h3,a,li,table,span,textarea,button,p,input {
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
}

table, th, td {
    border-collapse: collapse;
}

a {
	text-decoration: none;
}

/*
============================================ 
		       LANDING PAGE
============================================ 
*/
#landing_container {
	height: 100%;
}

#landing_container, #landing_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	font-size: 100px;
	font-weight: normal;

	color: #5CB3C1;
}

#landing_content, #logo {
	width: 440px;
}

#landing_content {
	border-style: solid;
	border-width: 2px 0 2px 0;
	border-color: #01587A;
}

#landing_buttons {
	width: inherit;

	display: flex;
	justify-content: space-around;

	margin: 20px 0;
}

.landing_button_large {
	width: 120px;
	height: 60px;

	font-size: 24px;
	color: white;

	background-color: #5CB3C1;
	border: none;
	border-radius: 7px;
}

/*#signup_pt_one, #signup_pt_two {
	height: 227px;
}*/

.form_container {
	display: none;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.landing_button {
	width: 74px;
	height: 32px;

	margin: 30px 0;

	font-size: 14px;
	color: white;

	background-color: #5CB3C1;
	border: none;
	border-radius: 7px;
}

#signup_prev, #login_option {
	background-color: white;
	border: 1px solid #5CB3C1;
	color: #5CB3C1;
}

.entry {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
}

.error_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error_message {
	font-size: 12px;
	color: red;
}

.entry .description {
	width: 130px;

	font-size: 14px;
	font-weight: normal;
	text-align: right;
	margin-right: 20px;
}

.entry input[type="text"], .entry input[type="password"],
.entry input[type="date"] {
	width: 150px;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
/*	margin-left: 20px;*/
	font-size: 16px;
}

.entry select {
	border: none;
	text-align: right;
	margin-left: 20px;
	font-size: 16px;
}

.radio_container {
	width: 150px;

	display: inline-flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.entry input[type="radio"] {
	display: none;
}


.entry input[type="radio"] {
	display: none;
}

.radio, .radio_container:hover .radio  {
	width: 27px;
	height: 12px;

	display: inline-block;

	background-color: #E1E8EC;
	border-radius: 3px;
}

.entry input[type="radio"]:checked ~ .radio {
	background-color: red;
}

.radio_container:hover .radio:hover,
.radio_container:hover .radio:hover ~ .radio {
    background-color: blue !important;
}

.language_name {
	font-weight: 300 !important;
}

#steps {
	display: none;
}

.step {
	width: 12px;
	height: 12px;

	display: inline-block;

	border: 2px solid #01587A;
	border-radius: 50%;
}

.current_step {
	background-color: #01587A;
}

/*
============================================ 
				  NAV BAR
============================================ 
*/
.nav_bar {
	width: 100%;
	height: 10%;
	min-height: 65px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #00394F;
	color: white;
}

.nav_bar h1 {
	margin-left: 20px;

	font-size: 48px;
	font-weight: normal;
}

.nav_links {
	display: flex;
}

.nav_links li {
	margin-right: 30px;

	font-size: 32px;
}

.nav_links a {
	height: 40px;

	display: flex;
	align-items: center;

	text-decoration: none;
	color: white;
	border-bottom: 4px solid transparent;
}

.nav_links .current_link {
	color: #F3BA00;
}

.nav_links a:hover {
	border-bottom: 4px solid #429AA8;
}

.nav_links img {
	margin-left: 10px;
}

/*
============================================ 
		    CHATS/FRIENDS TABS
============================================ 
*/

.tab {
	width: 100px;
	height: 100px;

	padding: 0;
	margin-top: 2px;

	display: block;

	background-color: #A7D5D9;
	border: none;
	border-radius: 10px 0 0 10px;
}

.chats_friends {
	display: flex;
}

.tab_content {
	width: 390px;

	background-color: #A7D5D9;
}

.friend_name {
	font-size: 24px;

	color: white;
}

/*
============================================ 
		    	FRIENDS DISPLAY
============================================ 
*/
#friends_list {
	width: 358px;

	margin: 10px auto 0 auto;
}

.friend {
	display: flex;
	align-items: center;

	padding: 16px 0;
}

.friend:hover {
	background-color: #55ADBB;
	border-radius: 2px;
}

.friend img {
	width: 62px;
	height: 62px;

	margin: 0 30px 0 10px;

	border-radius: 50px;
}

.you {
	border-bottom: 1px solid white;
}

/*
============================================ 
		    	CHATS DISPLAY
============================================ 
*/
.chat {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 10px 0;

	border-bottom: 1px solid white;
}

.chat:hover {
	background-color: #55ADBB;
}

.chat img {
	width: 62px;
	height: 62px;

	margin-right: 15px;

	border-radius: 50px;
}

.chat_info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.time, .preview {
	font-size: 18px;

	color: #E1E8EC;
}


/*
============================================ 
		    	USER PROFILE
============================================ 
*/
#user_profile {
	flex-direction: column;
}

#user_profile img {
	width: 250px;
	height: 250px;

	margin: 0 40px 0 10px;

	border-radius: 200px;
}

.basic_info {
	display: flex;
	align-items: center;
}

.additional_info {
	margin-top: 20px;
}

.username_profile {
	font-size: 48px;
	font-weight: normal;
	color: #01587A;
}

.languages, .traits{
	font-size: 36px;
}

.language {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.proficiency_bar {
	width: 212px;

	margin: 5px 0 0 10px;

	display: inline-flex;
	justify-content: space-between;
}

.prog_segment {
	width: 40px;
	height: 18px;

	display: inline-block;

	border-radius: 5px;
	background-color: #E1E8EC;
}

.language .native {
	background-color: #F3BA00;
}

.language .learning {
	background-color: #5CB3C1;
}

.lang_results li .native {
	color: #F3BA00;
}

.lang_results li .learning {
	color: #5CB3C1;
}

.interests li {
	display: inline;

	padding: 4px 30px;

	font-size: 30px;

	background-color: #01587A;
	color: white;
	border-radius: 7px;
}

/*
============================================ 
		   		 CURRENT CHAT
============================================ 
*/
#chat_content {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#chat_display {
	flex-grow: 1;
	overflow: auto;
}

.avatar {
	width: 70px;
	height: 70px;

	border-radius: 50%;
}

.edit_button {
	width: 30px;
	height: 30px;

	border: none;
	border-radius: 50%;
	background-color: #00394F;
}

.message {
	margin-top: 20px;
	padding: 0 20px;
	display: flex;

	align-items: flex-start;
}

.my_message {
	justify-content: flex-end;
}

.message_content {
	min-height: 50px;
	max-width: 660px;

	display: flex;
	align-items: center;

	padding: 10px;

	font-size: 20px;

	border-radius: 10px;
}

.my_message .message_content {
	background-color: #E3E3E3;
}

.your_message .message_content {
	margin: 0 5px 0 20px;
	
	background-color: #F3BA00;
}

#new_message {
	display: flex;
	justify-content: center;
	align-items: center;
}

#message_box {
	width: 70%;
	height: 120px;
	resize: none;

	margin: 10px 0;
	padding: 5px;

	font-size: 20px;

	border: 1px solid #4D4D4D;
	border-radius: 10px;
}

#new_message_submit {
	width: 110px;
	height: 70px;

	margin-left: 20px;

	font-size: 30px;
	color: white;

	border: none;
	border-radius: 10px;
	background-color: #01587A;
}

/*
============================================ 
		   		 FILTERS TAB
============================================ 
*/
#filters_tab {
	width: 480px;

	background-color: #429AA8;
}

#filters_tab h1 {
	width: 410px;

	margin: 10px auto;

	font-size: 18px;
	font-weight: normal;
	color: white;

	border-bottom: 1px solid white;
}

#filters_list {
	width: 410px;

	margin: 0 auto;

	color: white;
	font-size: 24px;
}

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-top: 15px;
}

.description {
	font-weight: bold;
}

#min_age, #max_age, #interest_filter {
	height: 30px;

	padding-left: 10px;

	font-size: 20px;

	border: none;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#min_age, #max_age {
	width: 45px;
}

#interest_filter {
	width: 200px;
	z-index: 1;
}

#language_filter {
	font-size: 24px;
	color: white;

	border: none;
	background-color: transparent;
}

#language_filter option {
	color: black;
}

#proficiency_slider {
	width: 200px;

	display: inline-block;
}

.noUi-horizontal {
	height: 12px;
}

.noUi-background {
	background-color: #F5F5F5;
}

.noUi-target {
	border: none;
}

.noUi-connect {
	background-color: #F3BA00;
}

.noUi-value-horizontal {
	display: none;
}

.noUi-horizontal .noUi-handle {
	width: 14px;
	height: 24px;
	left: -7px;
	top: -6px;
}

.noUi-handle:after, .noUi-handle:before {
	top: 5px;
}

.noUi-handle:before {
	left: 4px;
}

.noUi-handle:after {
	left: 7px;
}

.noUi-marker-horizontal.noUi-marker-large,
.noUi-marker-horizontal.noUi-marker-sub {
	height: 24px;

}

.noUi-marker-large, .noUi-marker-sub {
	background-color: black;
	top: -17px;
}

/*
============================================ 
		   	  RESULTS DISPLAY
============================================ 
*/
#results_display {
	flex-grow: 1;
	overflow: auto;
}

.search_result {
	margin-top: 30px;
	padding: 0 40px;

	display: flex;
	align-items: center;
}

.search_result .avatar {
	width: 120px;
	height: 120px;

	margin-right: 25px;
}

.result_text h1 {
	font-size: 30px;
	color: #01587A;
}

.lang_results li {
	display: inline;

	font-size: 20px;
}

.start_chat_icon {
	margin-left: auto;
}

/*
============================================ 
		    	   GENERAL
============================================ 
*/
.main_content {
	display: flex;
	flex-grow: 1;
}

.selected {
	background-color: #429AA8;
}

.current {
	background-color: #54A5B3 !important;
}

.searchbar {
	height: 38px;

	margin: 30px auto 0 auto;
	padding-left: 10px;

	display: block;

	font-size: 24px;

	background-color: #E1E8EC;
	border: none;
	border-radius: 5px;
	color: #929699;
}

#friends_list_search {
	width: 345px;
}

#users_search {
	width: 400px;
}

.leftover_space {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}