<!DOCTYPE html>
<html>
<head>
	<title>LangLand Login</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="content">
		<h1 id="title">Login to Langland</h1>
		<form method="POST" action="/login" id="messageForm">
	    <input type="text" name="username" id="usernameField" placeholder="username" autofocus>
	    <input type="password" name="password" id="passwordField" placeholder="password" >
	    <input type="submit" id="loginButton" value="Login">
		</form>
	</div>
</body>
</html>
