<!DOCTYPE html>
<html>
<head>
	<meta name="roomName" content="{{roomName}}">
	<title>Room: {{roomName}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="room.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="content">
		<h1>Room {{roomName}}</h1>
		<div id="userlist">
			<h3 id="usertitle"> Users </h3>
			<ul id="users"></ul>
			<button id="changeNameButton"> Change nickname </button>
		</div>

		<ul id="messages"></ul>

		<div class="messageInput">
		<form method="POST" action="/{{roomName}}/messages" id="messageForm">
	    <input type="text" name="message" id="messageField" autofocus>
	    <input type="hidden" name="nickname" id="nicknameField" value="">
	    <input type="submit" id="submitButton" value="Send">
		</form>
		</div>

	</div>
</body>
</html>
